/* ----------------- Color Palette --------------------

Tesla Light Red: #bf0021
Tesla Dark Red: #831c20
Gold: #CC8700;
Blue: #0E3588;
Light Green: #4ED514;
Green: #34AF00;

Adobe Kuler Tesla Theme:

Light Red: #DC0000;
Dark Red: #880000;
Black/Grey: #333333;
Light Grey: #D9D9D9;
Dark Grey: #999999;

Additional:

Yellow: #FFB426;
Very Light Blue: #CDF8FF;
Maroon: #241E26;
Grey: #A4A4A6;
Steel Blue: #4D5D73;
Whitish: #F2F2F2;
;
*/

/* ----------------- Body Elements --------------------*/

body {
	/*background-image:url(images/microtile.png);*/
	background-color: #4D5D73;
	font-family: 'Lato', sans-serif;
}

.row {
	max-width: 70rem;
}

.wide-row {
  min-width:100% !important; //make rows %100 of page 
} 

.wide-column {
	position: relative;
 padding-left: 0; 
 padding-right: 0; 
	float: left;
}

.vertical-align {
		display: table-cell;
		vertical-align: middle;

}

.header-image {
  width: 100%;
}

.page-heading {
	text-align: center;
	color: white;
}

.light-blue-background {
	/*background-color: rgba(255,255,255,.5);*/ /*Original background style*/
	background-color: #809BBF;
	border-left: solid 4px #bf0021;
	border-right: solid 4px #bf0021;
}

.intro-paragraph p {
	text-align: center;
	color: #831c20;
	font-size: 1.4em;
	margin-bottom: 20px;
	margin-top: 15px;
	font-weight: bold;
}

.website-content {
	text-align: justify;
	color: black;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

.clear-both {
	clear: both;
	margin-left: 35px;
}

.section-bar-div {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 3%;
}

.left-section-bar {
	width: 45%;
}

.right-section-bar {
	float: right;
	width: 18%;
}

.section-heading {
	color: #831c20;
	font-family: 'Lato', sans-serif;
	margin-top: 2%;
}

.page-divider {
	color: #f00;
	border: none;
	background-color: #831c20;
	height: 5px;
	width: 90%;
	margin: 0 auto;
	margin-top: 3%;
}

.upper-section {
	
}

/* ------- Hide the divs to start -----------*/

.performance-section-div, .comp-annual-div, .tesla-annual-div, .fuel-section-div1,.fuel-section-div2 {
	display: none;
}

.mile-slider {
	visibility: hidden;
}

/* ----------------- Header --------------------*/

.header-div {
	border: solid 4px #bf0021;
	padding-left: 0px;
	padding-right: 0px;
}

.website-top-info {
	text-align: center;
	color: #831c20;
	font-size: 1.4em;
	margin-bottom: 1%;
	margin-top: 1%;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

/* ----------------- Tesla Selector --------------------*/

.tesla-button {
	background-color: #333333;
	border: solid #bf0021 3px;
	margin-bottom: 1%;
	padding-bottom: 1%;
	/*height: 25%;*/
}

.tesla-button:hover {
	border-color: rgb(255, 180, 38);
	background-color: #4D5D73;
}

.tesla-button p {
	font-size: 1em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
	margin-bottom: 0px;
}

.battery-image {
	margin-top: 2.5%;
	margin-bottom: 1%;
}

.battery-image-p85 {
	margin-top: 2.5%;
	margin-bottom: 1%;
	margin-left: 35%;
	/*width: 30%;*/
}

.line-divider {
	border-left: solid black 1px;
	height: 40%;
}

/* ----------------- Comp Selector --------------------*/

.comp-selector-box {
	background-color: #333333;
	border: solid #831c20 2px;
	padding: 3%;
}

select {
	border: solid #bf0021 1px;
	padding: 10px;
}

select:hover {
	background-color: #f3f3f3;
	border-color: rgb(255, 180, 38);
}

.comp-section-heading {
	text-align: center;
	color: white;
	margin-bottom: 2%;
}

.comp-section-heading-colors {
	text-align: center;
	color: white;
	margin-top: 2%;
	margin-bottom: 1%;
}

.section-green {
	color: green;
}
.section-yellow {
	color: yellow;
}
.section-red {
	color: #831c20;
}

.comp-button {
	color: white;
	padding-top: .8%;
	background-color: #333333;
	border: solid #bf0021 2px;
	margin-bottom: 1%;
	margin-top: 10%;
	padding-bottom: 1%;
	border-radius: 4px;
	font-size: 1.4em;
	text-align: center;
}

.button-text {
	text-align: center;
}

.underline-button {
	border-bottom: dotted white 1px;
}
.comp-button:hover {
	border-color: rgb(255, 180, 38);
}

button[disabled],.button.disabled, button.disabled {
	background-color:#333333;
	border-color: #831c20;
}

button[disabled]:hover {
	background-color: #333333;
	border-color: #831c20;
}

.section-nav {
	display: none;
}

.social-icon {
	height: 20px;
	float: left;
	margin-top: 3px;
	margin-right: 1px;
}

.facebook-share {
	background-image: linear-gradient(#fff,#dedede);
	float: left;
	margin-top: 3px;
	margin-right: 2px;
	padding: 3px;
	border: #ccc solid 1px;
	border-radius: 3px;
	height: 20px;
}

.twitter-share-button {
	margin-top: 3px;
	float: left;
}


.google-plus-button {
	float: left;
	margin-top: 3px;

}


/* ----------------- VS Display --------------------*/

.car-photo-left {
	border: solid #bf0021 3px;
	width: 100%;
}

.car-photo-right {
	border: solid #bf0021 3px;
	width: 100%;
}

.photo-border {
	background-color: #4D5D73;
	border: solid #bf0021 2px;
	color: white;
}

.photo-border-bottom {
	background-color: #4D5D73;
	border: solid #bf0021 2px;
	border-top: none;
	color: white;
}

.pad-right {
	padding-right: 15%;
}

.pad-left {
	padding-left: 15%;
}

.vs-icon {
	margin-top: 75%;
	padding-left: 15%;
}

.car-display-title {
	margin-top: 2%;
	text-align: center;
	font-family: 'Michroma', sans-serif;
	font-size: 1.3em;
}


/* ----------------- Fuel Comparison --------------------*/

.mpg-padding {
	padding-left: 10%;
}

.mpg-padding-right {
	padding-right: 10%;
}

.mpg-box {
	border: solid black 1px;
	background-color: white;
	margin-top: 1.5%;
	margin-bottom: 10%;
	padding: 5%;
	border-radius: 3px;
}

.mpg-combined-number {
	text-align: right;
	margin-bottom: -10px;
	margin-top: -10px;
	padding-left: 5px;
	padding: 1px;
}

.mpg-combined-text {
	text-align: right;
	margin-bottom: 0px;
	padding: 1px;
	margin-left: 2px;
}

.mpg-text {
	margin-bottom: 0px;
	font-size: .7em;
	text-align: center;
}

.mpg-number {
	margin-bottom: 0px;
	text-align: center;
}

.baby-mpg {
	font-size: .3em;
}

.odometer {
	text-align: center;
	color: white;
	font-size: 2.2em;
	margin-top: 4%;
	margin-bottom: 0;
}

.odometer-text {
	background-color: black;
	padding: 1%;
	border: solid white 2px;
	font-family: monospace;
/*	background-image: linear-gradient(to bottom, #333333 0%, #333333 40%, #101010 60%, #333333 80%, #333333 100%);*/
}

.miles-label {
	text-align: center;
}

.slider-text-left {
	text-align: center;
}

.slider-text-right {
	text-align: right;
}

.mile-slider {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	margin-bottom: 1%;
}

.electricity-cost-text {
	text-align: center;
	font-size: 1.5em;
	padding-left: 5%;
}

.gas-cost-text {
	text-align: center;
	font-size: 1.5em;
	padding-right: 5%;
}

.cost-heading {
	text-align: center;
	font-size: 1.4em;
}

#fuel-cost-difference {
	font-size: 1.8em;
}

#tesla-fuel-cost {
	color: #fcff00;
	font-size: 1.8em;
}

#comp-fuel-cost {
	font-size: 1.8em;
	color: #00FF1B;
}
/* ----------------- Energy Price Bar --------------------*/

.gas-icon,.electric-icon {
	width: 12px;
}


.energy-arrow, .gas-arrow {
	width: 15px;
}

.gas-price, .energy-price {
	font-family: 'Audiowide', cursive;
}


.gas-price {
	color: #00FF1B;
}

.energy-price {
	color: #fcff00;
}

.price-bar-background {
	color: white;
	background-color: #333333;
	text-align: center;
	border-left: solid 4px #bf0021;
	border-right: solid 4px #bf0021;
	border-top: solid 2px #bf0021;
	border-bottom: solid 2px #bf0021;
}

.price-bar-background span {
	margin-right: 1%;
}

.price-bar-background img {
	margin-right: 1%;
}

/* ----------------- Performance --------------------*/

.performance-text {
	text-align: center;
	color: #831c20;
}

.performance-text-red {
	text-align: center;
	color: #bf0021;
}

.performance-text-left {
	text-align: right;
	font-size: 1.5em;
}


.performance-text-right {
	text-align: left;
	font-size: 1.5em;
}

/* ----------------- Annual Cost Tables --------------------*/

.tesla-annual-table {
	width: 100%;
	border: solid #bf0021 1px;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.tesla-annual-table td {
	text-align: center;
}

.side-table-header {
	text-align: left;
	color: #bf0021;
}

.top-table-header {
	color: #831c20;
	text-align: center;
}
.table-padding {
	padding-left: 5%;
	padding-right: 5%;
}

.table-total {
	font-weight: bold;
}


/* ----------------- Bottom Nav --------------------*/

.bottom-nav-div {
	padding-left: 0px;
	padding-right: 0px;
	border: solid 2px black;
	color: white;
	text-align: center;
	background-color: #333333;
}

.bottom-nav-div-left {
	padding-left: 0px;
	padding-right: 0px;
	border-top: solid 2px black;
	border-right: solid 2px black;
	border-bottom: solid 2px black;
	border-left: solid 4px black;
	color: white;
	text-align: center;
	background-color: #333333;
}

.bottom-nav-div-right {
	padding-left: 0px;
	padding-right: 0px;
	border: solid 2px black;
	border-right: solid 4px black;
	color: white;
	text-align: center;
	background-color: #333333;
}

.bottom-nav-link {
	color: #bf0021;
	text-decoration: underline;
}

/* ----------------- Footer --------------------*/


.footer-div {
	padding-left: 0px;
	padding-right: 0px;
	border-left: solid 4px #bf0021;
	border-right: solid 4px #bf0021;
	border-bottom: solid 4px #bf0021;
}


.footer-link {
	color: #bf0021;
	padding-top: 2px;
	text-decoration: none;
	text-align: center;
}
.footer2-link {
	float: left;
	width: 123.5px;
	height: 25px;
	color: #bf0021;
	padding-top: 2px;
	text-decoration: none;
	text-align: center;
	border-right: solid 1px #831c20;
	margin-top: 7px;
}

.footer-image {
	width: 100%;
}

.small-footer-text {
	font-size: .7em;
	color: #831c20;
}

.copyright {
	text-align: right;
	font-size: .7em;
	color: #831c20;
}


/* ----------------- Extra Media Queries --------------------*/

@media (max-width: 640px) {
  .mpg-combined-text {
    font-size: .8em;
    text-align: center;
  }
  .comp-selector-box {
  	margin-right: 0;
  }
}

@media (max-width: 1024px) and (min-width: 640px) {
  .mpg-combined-text {
    font-size: .9em;
    text-align: center;
  }
}

/* ----------------- Contact Page Specific --------------------*/

.contact-box {
	resize: none;
	height: 25%;
}

.contact-button {
	height: 2.3125rem;
	width: 100%;
	padding-top: .8%;
	background-color: #333333;
	border: solid #bf0021 2px;
	margin-bottom: 10%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%;
	border-radius: 4px;
	font-size: .9em;
}

.contact-button:hover {
	border-color: rgb(255, 180, 38);
}

/* ----------------- About Page Specific --------------------*/

.tesla-about-logo {
	margin-bottom: 5%;
}

.left-section-bar-about {
	width: 35%;
}